.card {
  border: solid 1px rgb(207, 207, 207);
  box-shadow: 0 0 10px rgb(208, 208, 208);
  width: 200px;
  height: 300px;
  margin: 10px;
}

.card img {
  height: 174px;
  width: 100%;
  object-position: cover;
}

.card p {
  color: gray;
}
