.footer {
  background: rgb(50, 6, 6);
  text-align: center;
  color: white;
  margin-bottom: -30px;
  position:absolute;
  bottom: 0px;
}

.footer h3 {
  font-family: "Reem Kufi", sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
  color: #895643;
}

.socials {
  margin-left: -40px;
  padding-top: 20px;
}
